<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../../src/css/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="header-container">
          <div class="burger">
            <div class="line" id="line1"></div>
            <div class="line" id="line2"></div>
            <div class="line" id="line3"></div>
          </div>

          <form action="">
            <div class="form-container">
              <input
                type="search"
                placeholder="Tapez ici la ville ou le nom du model.."
                class="search-bar"
              />
              <button type="submit">
                <span class="material-symbols-sharp icon"> search </span>
              </button>
            </div>
          </form>

          <nav class="nav-menu">
            <ul class="list">
              <li class="list-item">
                <a href="../../index.html" class="active">
                  <span class="material-symbols-sharp icon">home</span>
                  <span class="title">Acceuil</span>
                </a>
              </li>
              <li class="list-item">
                <a href="">
                  <span class="material-symbols-sharp icon">female</span>
                  <span class="title">Fille</span>
                </a>
              </li>
              <li class="list-item">
                <a href="">
                  <span class="material-symbols-sharp icon">male</span>
                  <span class="title">Homme</span>
                </a>
              </li>
              <li class="list-item">
                <a href="">
                  <span class="material-symbols-sharp icon">transgender</span>
                  <span class="title">Trans</span>
                </a>
              </li>
              <li class="list-item">
                <a href="">
                  <span class="material-symbols-sharp icon">diamond</span>
                  <span class="title">VIP</span>
                </a>
              </li>
              <li class="list-item">
                <a href="">
                  <span class="material-symbols-sharp icon"
                    ><span class="material-symbols-sharp">
                      verified
                    </span></span
                  >
                  <span class="title">En ligne</span>
                </a>
              </li>
              <li class="list-item">
                <a href="">
                  <span class="material-symbols-sharp icon"
                    >workspace_premium</span
                  >
                  <span class="title">Les Plus Aimés</span>
                </a>
              </li>
            </ul>
          </nav>

          <div class="loggin">
            <a href="" class="sign-in">s'identifier</a>
            <a href="" class="sign-up">s'enrégistrer</a>
          </div>
        </div>
      </header>
      <main class="main">
        <section class="main-container">
          <!----------------------------Main Block-------------------------------->
          <div class="main-block"></div>

          <div class="side-block"></div>
        </section>
      </main>
    </div>

    <script
      src="https://kit.fontawesome.com/646ad7888c.js"
      crossorigin="anonymous"
    ></script>

    <script src="../../src/js/index.js"></script>
  </body>
</html>
